<html>
	<head>
	
		<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
	
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">	
			
		
		{% if title %}
		<title>{{title}} - Image Classifier</title>
		{% else %}
		<title> Image Classifier </title>
		{% endif %}
	</head>
	<body>
		<div><a href='/index'>Home</a><div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>

