{% extends 'base.html' %}

{% block content %}
<div>
	<form action "/upload-image" method="POST" enctype="multipart/form-data">
		<h1>New Zealand Native Bird Classifier</h1>
		<p>This simple web app takes an image of a common New Zealand native bird and classifies which family it belongs to.</p><br>
		<p>
			It uses a Convolutional Neural Network with a Resnet34 layer architechure. 
			<br>It was only trained on 600 images as it leverages the ImageNet library, allowing for fast, low volume training. 
			<br>Tho it is a Neural Network, it does not require a GPU to run and therefore runs using the pytorch CPU distribution.
		</p><br>
		
		<div id="uploadForm">
			<div class="form-lements">
				<div class="fileUpload btn btn-primary">
					<span>Upload</span>
					<input type="file" class="custom-file-input" id="custom-file-input" name="image" multiple="false" accept="image/*" onchange="upload(event)">
				</div>
			</div>
			<div class="form-elements"><img id="upload-image"></div>
			<div class="form-elements"><p id="image-name"></p></div>
			<div class="form-elements">
				<button id="submit-btn" class="fileUpload btn btn-primary" type="submit" disabled>Analyse Image</button>
			</div>
		</div>
		
	</form>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/js_lib.js') }}"></script>
{% endblock %}